/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  background-color: papayawhip;
  animation-name: colorful;
  animation-duration: 7s;
}
@keyframes colorful {
  0% {
    background-color: black;
  }
  100% {
    background-color: papayawhip;
  }
}
body section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Overlock SC';
  font-weight: bold;
}
header h1 {
  font-size: 5rem;
  color: firebrick;
  text-shadow: 1.5px 1.5px black;
}
header h3 {
  font-size: 1.5rem;
  color: crimson;
  text-shadow: 0.6px 0.6px black;
}
header img {
  background-color: crimson;
  width: 20%;
  border-radius: 50%;
  border: 3px solid firebrick;
  box-shadow: 9px 9px 5px #413f3f;
  padding: 0.3%;
}
.main-container {
  color: blanchedalmond;
}
.main-container .project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1% 0;
}
.main-container .projects {
  width: 32%;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6% 0;
  border: 2px solid black;
  border-radius: 10px;
}
.main-container .projects h2 {
  font-size: 2rem;
}
.main-container .projects p {
  width: 80%;
  font-size: 1.3rem;
}
.main-container .projects img {
  width: 50%;
  border-radius: 30%;
  margin: 0.5% 0;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  background-color: crimson;
  margin-top: 5%;
}
footer a {
  text-align: center;
}
footer small {
  font-size: 0.8rem;
}
footer img {
  width: 60%;
}
footer .contact-links {
  display: flex;
  align-items: center;
}
footer .codesandbox-logo {
  text-align: center;
  padding: 8px 0;
}
