footer {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid black;
    background-color: @footer-color;
    // margin-top: 2%;
    padding: 0.5% 1%;

    div {
        width: 30%;
    }

    a {
        text-align: center;
    }

    a:hover {
        box-shadow: 5px 5px 5px black;
        background-color: blueviolet;
    }

    small {
        font-size: 0.8rem;
    }

    img {
        width: 50%
    }

    .contact-links {
        display: flex;
        align-items: center;
    }

    .codesandbox-logo {
        text-align: center;
        padding: 5px 0 5.5px;
    }

    .zia-img {
        width: 8%;
        margin-bottom: 3%;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    .footer-right {
        display: flex;
        margin-right: 10%;
    }
}