html {
    background-color: firebrick;
}

body {
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-container {
    border: 1px solid black;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects img{
    width: 30%;
    border-radius: 30%;
}