html {
    background-color: papayawhip;

    animation-name: colorful;
    animation-duration: 10s;
    @keyframes colorful {
        0% {
          background-color: black;
        }

        100% {
          background-color: papayawhip;
        }
      }
}

body {
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
