header {
    margin: 0.7% 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    font-family: 'Overlock SC', ;
    font-weight: bold;

    h1 {
        font-size: 5.5rem;
        color: firebrick;
        text-shadow: 1.5px 1.5px black;

        @media @mobile {
            font-size: 2.9rem;
        }
    }

    h3 {
        font-size: 1.5rem;
        // font-family: 'Press Start 2P', ;
        color: crimson;
        text-shadow: 0.6px 0.6px black;

        @media @mobile {
            font-size: 1.1rem;
        }
    }

    img {
        width: 40%;
        text-align: left;
    }

    #profile-image {
        background-color: crimson;
        width: 43%;
        border-radius: 50%;
        border: 3px solid firebrick;
        box-shadow: 9px 9px 5px rgb(65, 63, 63);
        padding: 0.3%;

        @media @mobile {
            width: 70%;
        }
    }

    .header-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @mobile {
            width: 90%;
            margin: 1% 0;
        }
    }

    .header-right {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0.5%;

        @media @mobile {
            display: none;
        }
    }

    .header-right img {
        width: 55%;
    }

    #lambda-logo1 {
        width: 30%;
        margin-bottom: 2%;
    }

    .language-img1 {
        background-color: crimson;
        border: 2px solid firebrick;
        border-bottom: 0;
        border-top-right-radius: 30%;
        border-top-left-radius: 30%;
        padding: 1% 1% 0 1%;
    }

    .language-img2 {
        background-color: crimson;
        border: 2px double firebrick;
        border-top: 0;
        border-bottom-right-radius: 30%;
        padding: 0 1% 1% 1%;
    }

    @media @mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}