header {
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Overlock SC', ;
    font-weight: bold;

    h1 {
        font-size: 5rem;
        color: firebrick;
        text-shadow: 1.5px 1.5px black;
    }

    h3 {
        font-size: 1.5rem;
        // font-family: 'Press Start 2P', ;
        color: crimson;
        text-shadow: 0.6px 0.6px black;
    }

    img {
        background-color: crimson;
        width: 25%;
        border-radius: 50%;
        border: 3px solid firebrick;
        box-shadow: 9px 9px 5px rgb(65, 63, 63);
        padding: 0.3%;
    }
}